*{
    font-family: 'Courier New', Courier, monospace, cursive;
    font-weight: 100;
    font-size: 30px;
}



h2{
    background-color: crimson;
    display: inline-block;  /*Se utiliza para adaptar al tamaño del texto */ 
    padding: 20px 30px;
    
}

