<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head th:replace="/fragments/head :: head" </head>
<body>
  <div id="body">
    <nav th:replace="/fragments/navbar :: nav" </nav>
  </div>
  <br>
  <br>
  <div class="centerBody">
    <div id="body">
      <h1 th:if="${session.usuariosession != null}"
        th:text="'Bienvenido a nuestra biblioteca ' + ${session.usuariosession.nombre} + '!'" id=" h1"></h1>
      <div th:if="${exito != null}" class="card text-bg-success mb-3">
        <div class="card-body">
          <h5 class="card-title">Se ha cargado con Éxito! 👍</h5>
          <p class="card-text" th:text="${exito}"></p>
        </div>

      </div>
      <br>


      <div class="">
        <div id="carta" class="card text-bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">Utilidad</div>
          <div class="card-body">
            <h4 class="card-title">¿Qué podrás hacer aquí?</h4>
            <p class="card-text">Nuestra aplicación web de biblioteca le permitirá gestionar todos los aspectos
              relacionados con su colección de libros. Podrá crear, leer, actualizar y eliminar información de libros,
              autores y editoriales con facilidad. Podrá agregar y actualizar la información de los libros, agregar y
              editar información de los autores, y también agregar y actualizar información de las editoriales. Además,
              podrá buscar información de libros y autores en la base de datos. Todo en una plataforma fácil de usar e
              intuitiva.</p>
          </div>

          <div></div>
        </div>
        <div id="carta2" class="card text-bg-light mb-3" style="max-width: 16rem;">
          <div class="card-header">Diseño</div>
          <div class="card-body">
            <h4 class="card-title">Navegación optimizada</h4>
            <p class="card-text">Nuestra página web cuenta con un diseño de fácil acceso y movilidad para que puedas
              navegar sin dificultades desde cualquier dispositivo. Hemos organizado nuestros contenidos en secciones
              claras y bien diferenciadas para que puedas encontrar la información que necesitas de manera rápida y
              sencilla. Esperamos que disfrutes de tu visita y si tienes alguna sugerencia o comentario, no dudes en
              hacérnoslo saber. ¡Gracias por elegirnos! <br> </p>
          </div>
        </div>
        <div id="carta3" class="card text-bg-light mb-3" style="max-width: 16rem;">
          <div class="card-header">Respaldo</div>
          <div class="card-body">
            <h4 class="card-title">Base de datos eficiente</h4>
            <p class="card-text">Nuestra página web utiliza una base de datos eficiente para almacenar, editar y
              eliminar
              datos con facilidad y persistirlos. Esto nos permite mantener la información actualizada y accesible para
              nuestros usuarios en todo momento. Además, podemos listar los datos de forma organizada y clara. La base
              de
              datos es una herramienta clave para garantizar la disponibilidad e integridad de la información en nuestra
              página web.<br> </p>
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
          crossorigin="anonymous"></script>
</body>

</html>