<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="es">

<head th:replace="/fragments/head :: head" </head>

<body>
    <div id="body">
        <nav th:replace="/fragments/navbar :: nav" </nav>
    </div>

    <div class="tabla">
        <table id="tablita" class="table table-dark table-hover">
            <thead>
                <tr>
                    <th scope="col">isbn</th>
                    <th scope="col">Título</th>
                    <th scope="col">Ejemplares</th>
                    <th scope="col">Autor</th>
                    <th scope="col">Editorial</th>
                    <th scope="col" sec:authorize="hasRole('ADMIN')">Acciones</th>
                </tr>
            </thead>
            <tbody th:each="libro : ${librs}">
                <tr>
                    <th scope="tow" th:text="${libro.isbn}"></th>
                    <td th:text="${libro.titulo}"></td>
                    <td th:text="${libro.ejemplares}"></td>
                    <td th:text="${libro.autor.nombre}"></td>
                    <td th:text="${libro.editorial.nombre}"></td>
                    <td>
                        <a sec:authorize="hasRole('ADMIN')" th:href="@{/libro/modificar/__${libro.isbn}__}"><i
                                class="bi bi-pencil-square"></i> modificar
                        </a>
                        <a id="cesto" sec:authorize="hasRole('ADMIN')" th:href="@{/libro/eliminar/__${libro.isbn}__}"><i
                                class="bi bi-trash"></i> Eliminar
                        </a>

                    </td>

                </tr>

            </tbody>
        </table>
    </div>
    <a href="javascript:history.back()">
        <button id="boton" type="button" class="btn btn-secondary">Volver</button>
    </a>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>

</html>