body {
    background-color: #dbd7d7f1; /* elige el tono de gris que prefieras */
    margin: 0;
    padding: 0;
}

#carta, #carta2, #carta3 {
    display: inline-block;
}

#carta, #carta2, #carta3{
    margin-left: 1em;
}

#h1{
    margin-left: 6em;
}

#fondoLista{
    background-color: black;
}