[rancio="si"] {
    color:aqua
}

h2  {
    color: red;
}

h2 b {
    color: blue
}

h2 b span:hover{
    color:blueviolet
}

.color-green {
    color:green
}

#id {
    display: inline-block;
    color:khaki
}

[atributo] {
    color:hotpink
}

h1 {
    font-family: sans-serif;
    line-height: 2;
    background-color: black;
    font-weight: 900;
    font-stretch: 10;
    color:gray !important;
    margin: 0
    
}

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Dancing Script', cursive;
}

.form {
    background-color: black;
    font-size: 13px;
    width: 100vw;
    height: 3vw;
}

.form__input{
    color:blue
}

/*
esto es metodologia bem 
*/
.form__input--active {           
    font-size: 1em; 
    color:red
}

#contacto {
display: inline-block;
margin: 0em 0em 0em 58em;
text-align: center;
}

#ingresar {
    display: inline-block;
    margin: 0em 0em 0em 2em;
    text-align: center;
}
