
body.mi-clase {
  background-color: white;
}

.tabla {
  margin: 0 auto; /* Centra el div "tabla" horizontalmente */
  border-radius: 30px; /* Agrega un radio pronunciado a los bordes del div "tabla" */
  padding: 20px; /* Añade espacio interno al div "tabla" */
}

#boton {
  position:relative;
  right: 3 em;
  margin-left: 3rem;
}

.table {
  margin-bottom: 0; /* Elimina el margen inferior de la tabla */
}

.table-dark {
  background-color: #343a40; /* Establece el color de fondo de la tabla en gris oscuro */
}

.table-hover tbody tr:hover {
  background-color: #212529; /* Cambia el color de fondo de las filas de la tabla cuando se les pasa el mouse */
}

.table th,
.table td {
  border-color: #454d55; /* Establece el color del borde de las celdas de la tabla */
}

.logo{
  width: 18rem;
  height: 18rem;
}