.centerBody {
    margin: 0 auto;
    text-align: center;
}

#carta, #carta2, #carta3 {
    display: inline-block;
    width: 300px;
    margin-right: 20px;
} 

.containerh2{
    position : relative;
    right : 10em;
    margin-right: 20px;
}

body {
  background-color: black; /* Establece el color de fondo en negro */
}

.tabla {
  margin: 0 auto; /* Centra el div "tabla" horizontalmente */
  border-radius: 20px; /* Agrega un radio pronunciado a los bordes del div "tabla" */
  padding: 20px; /* Añade espacio interno al div "tabla" */
}

.table {
  margin-bottom: 0; /* Elimina el margen inferior de la tabla */
}

.table-dark {
  background-color: #343a40; /* Establece el color de fondo de la tabla en gris oscuro */
}

.table-hover tbody tr:hover {
  background-color: #212529; /* Cambia el color de fondo de las filas de la tabla cuando se les pasa el mouse */
}

.table th,
.table td {
  border-color: #454d55; /* Establece el color del borde de las celdas de la tabla */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.h1registro{
  position: relative;
  text-align: center;
  top: 16rem;
}

.dosBotones{
  position: relative;
  right: 3rem;
}

.img-limitada {
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
}

.img-logo {
  max-width: 18em;
  max-height: 18em;
  border-radius: 50%;
  margin-top: 5em;
}

.h1EditarUsuario {
  position: relative;
  text-align: center;
  top: 12rem;
}

.table-hover tbody tr:hover {
  background-color: #212529; /* Cambia el color de fondo de las filas de la tabla cuando se les pasa el mouse */
}

.table th,
.table td {
  border-color: #454d55; /* Establece el color del borde de las celdas de la tabla */
}

.logo{
  width:  12rem;
  height: 12rem;
}

#cesto{
 margin-left: 1rem;
}

#boton {
  margin-right: 5 rem;
  
}